.stars {
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    z-index: -999;
    animation: travel 3s linear infinite;
    will-change: left;
    &.animation-2 {
     animation-name: travel-2;
    }
    .star {
     position: absolute;
   
     &:after {
      content: ‘+’;
     }
     /* Randomly place stars */
     @for $i from 1 through 50 {
      &:nth-child(#{$i}) {
       top: percentage(random(100) / 100);
       left: percentage(random(100) / 100);
      }
     }
    }
   }
   @keyframes travel {
    0% {
     left: -100%;
    }
    100% {
     left: 0%;
    }
   }
   @keyframes travel-2 {
    0% {
     left: 0%;
    }
    100% {
     left: 100%;
    }
   }